#loading_overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

#loading_overlay .loading_object {
  position: relative;
  animation-name: loader_pulsing;
  animation-duration: 0.8s;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  opacity: 0.3;
}

@keyframes loader_pulsing {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

/*
Set background-image on inline css
*/
.bg-cover-fixed {
  position: relative;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* background-image: url(); */
}

.bg-cover-content {
  position: relative;
  z-index: 1;
}

.hero-cover {
  min-height: 100vh;
  background-image: url(../img/foto-pettine-IfjHaIoAoqE-unsplash-h.jpg);
  z-index: 1030;
}

span[class^="bg-overlay-"] {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.5;
}

span.bg-overlay-dark {
  background-color: black !important;
}

span.bg-overlay-light {
  background-color: white !important;
}

.hero-title {
  font-size: clamp(3.234rem, 3.234rem + ((1vw - 0.2rem) * 5.443), 6.5rem);
}

.countdown-parent {
  display: block;
  width: 100%;
  max-width: 38rem;
}

.countdown-parent .countdown-timer {
  cursor: default;
}

.is-style-asterisk:before {
  content: "";
  width: 1.5rem;
  height: 3rem;
  background: #b7b7b7;
  clip-path: path(
    "M11.93.684v8.039l5.633-5.633 1.216 1.23-5.66 5.66h8.04v1.737H13.2l5.701 5.701-1.23 1.23-5.742-5.742V21h-1.737v-8.094l-5.77 5.77-1.23-1.217 5.743-5.742H.842V9.98h8.162l-5.701-5.7 1.23-1.231 5.66 5.66V.684h1.737Z"
  );
  display: block;
}

.text-center .is-style-asterisk:before,
.is-style-asterisk.text-center:before {
  margin: 0 auto;
}

.rsvp-parent {
  display: block;
  width: 100%;
  max-width: 38rem;
  margin: auto;
}

.w-max-24 {
  max-width: 24rem;
}

.w-max-18 {
  max-width: 18rem;
}

.navbar {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
}

.navbar.scrolled {
  background: rgb(68, 68, 68); /* IE */
  background: rgba(0, 0, 0, 0.2); /* NON-IE */
}

.navbar.scrolled:hover {
  background: rgba(0, 0, 0, 0.7); /* NON-IE */
}
